@import "./reset.css";

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  /* Primary */

  --strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Space Mono", monospace;
  min-height: 100%;
}
h1 {
  text-align: center;
  padding: 3.1rem 0rem 2.37rem 0rem;
}

.big-box {
  background-color: var(--light-grayish-cyan);
}

.calculator {
  background-color: var(--white);
  border-radius: 1.5rem;
  padding: 2.25rem 1.5rem 2rem 1.5rem;
}
h2 {
  font-weight: 700;
  color: var(--dark-grayish-cyan);
  margin-bottom: 0.625rem;
}

/* INPUT */
.calculator__input {
  margin: 0 8px 0px 8px;
}
.inputs {
  font-family: "Space Mono", monospace;

  width: 100%;
  height: 3rem;

  border: none;

  background-color: var(--light-grayish-cyan2);
  text-align: right;
  border-radius: 0.3125rem;
  padding-right: 1.1rem;
  font-weight: 700;
  color: var(--very-dark-cyan);
  font-size: 1.5rem;
}
.inputs::placeholder {
  font-size: 1.5rem;
}
form {
  position: relative;
}
form img {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
}
/* TIP */
.calculator__tip {
  margin-top: 2.25rem;
}
.tip-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(9.0625rem, 1fr));
  grid-template-rows: repeat(3, 3rem);
  gap: 1rem;
  margin-top: 1.25rem;
}

.tip-list li {
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.3125rem;
}
.tip-list li.active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
.tip-list li:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  cursor: pointer;
}
.inputs--tip::placeholder {
  color: var(--dark-grayish-cyan);
  /* opacity: 0.8; */
}

/* PEOPLE */
.calculator__people {
  margin-top: 2.3125rem;
}

/* OUTPUT */

.calculator__output {
  background-color: var(--very-dark-cyan);
  border-radius: 1rem;
  padding: 2.8rem 1.3rem 1.4rem 1.4375rem;
  margin-top: 32px;
  overflow: hidden;
}
.calculator__tip-amount,
.calculator__total {
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 32px;
  font-weight: 700;
  color: var(--strong-cyan);
}
.calculator__tip-amount {
  margin-bottom: 31px;
}

h3 {
  color: var(--white);
  margin-bottom: 5px;
  font-weight: 700;
}
span {
  font-size: 13px;
  font-weight: 700;
  color: var(--dark-grayish-cyan2);
}
.inputs--reset {
  text-align: center;
  padding: 0rem;
  background-color: var(--strong-cyan);
  text-transform: uppercase;
  margin-top: 2.1875rem;
}

.inputs--reset:hover {
  background-color: var(--light-grayish-cyan);
  cursor: pointer;
}
.inputs--reset--op {
  opacity: 0.2;
}
.inputs--reset--op:hover {
  background-color: var(--strong-cyan);
  cursor: auto;
}
@media all and (min-width: 700px) {
  .big-box {
    min-height: 100vh;
  }
}
@media all and (min-width: 800px) {
  h1 {
    padding: 0rem;
  }
  .big-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
  }
  .calculator {
    display: flex;
    margin: 0;
    gap: 1rem;
    padding: 2rem;
    min-width: 46.875rem;
    min-height: 30.0625rem;
  }
  .tip-list {
    grid-template-columns: repeat(2, 9.5rem);
    grid-template-rows: repeat(2, 3rem);
    gap: 1rem;
  }
  .calculator__input {
    flex: 1 1 0rem;
    margin: 0;
  }
  .calculator__output {
    flex: 1 1 0rem;
    margin-top: 0;
    padding: 3.75rem 2.5rem 2.5rem 2.5rem;
    position: relative;
  }
  .calculator__tip-amount {
    margin-bottom: 3.75rem;
  }
  .inputs--reset {
    margin-top: 8.125rem;
    margin-bottom: 0;
  }
}
@media all and (min-width: 919px) {
  .calculator {
    min-width: 57.4375rem;
  }
  .tip-list {
    grid-template-columns: repeat(3, 7.5rem);
  }
  .calculator__tip {
    margin-top: 2.8125rem;
  }
  .calculator__people {
    margin-top: 2.8125rem;
  }

  h4 {
    font-size: 2.875rem;
    margin-top: -0.4375rem;
  }
  .calculator {
    padding: 2rem;
    gap: 1.125rem;
  }
  .calculator__input {
    padding: 1rem;
  }
  .inputs--reset {
    margin-bottom: 0;
    height: 3.125rem;
    width: 20.9375rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media all and (min-width: 1400px) {
  h1 {
    position: absolute;
    top: 162px;
  }
  .calculator {
    margin-top: 4.0625rem;
  }
}
