@import "./reset.css";

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  /* Primary */

  --strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Space Mono", monospace;
}
h1 {
  text-align: center;
  padding: 3.1rem 0rem 2.37rem 0rem;
}

.big-box {
  background-color: var(--light-grayish-cyan);
}

.calculator {
  background-color: var(--white);
  border-radius: 1.5rem;
  padding: 2.25rem 1.5rem 2rem 1.5rem;
}
h2 {
  font-weight: 700;
  color: var(--dark-grayish-cyan);
  margin-bottom: 0.625rem;
}

/* INPUT */
.calculator__input {
  margin: 0 8px 0px 8px;
}
.inputs {
  font-family: "Space Mono", monospace;

  width: 100%;
  height: 3rem;

  border: none;

  background-color: var(--light-grayish-cyan2);
  text-align: right;
  border-radius: 0.3125rem;
  padding-right: 1.1rem;
  font-weight: 700;
  color: var(--very-dark-cyan);
  font-size: 1.5rem;
}
.inputs::placeholder {
  font-size: 1.5rem;
}
form {
  position: relative;
}
form img {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
}
/* TIP */
.calculator__tip {
  margin-top: 2.25rem;
}
.tip-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(9.0625rem, 1fr));
  grid-template-rows: repeat(3, 3rem);
  gap: 1rem;
  margin-top: 1.25rem;
}

.tip-list li {
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.3125rem;
}
.tip-list li.active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
.tip-list li:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  cursor: pointer;
}
.inputs--tip::placeholder {
  color: var(--dark-grayish-cyan);
  /* opacity: 0.8; */
}

/* PEOPLE */
.calculator__people {
  margin-top: 2.3125rem;
}

/* OUTPUT */

.calculator__output {
  background-color: var(--very-dark-cyan);
  border-radius: 1rem;
  padding: 2.8rem 1.3rem 1.4rem 1.4375rem;
  margin-top: 32px;
  overflow: hidden;
}
.calculator__tip-amount,
.calculator__total {
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 32px;
  font-weight: 700;
  color: var(--strong-cyan);
}
.calculator__tip-amount {
  margin-bottom: 31px;
}

h3 {
  color: var(--white);
  margin-bottom: 5px;
  font-weight: 700;
}
span {
  font-size: 13px;
  font-weight: 700;
  color: var(--dark-grayish-cyan2);
}
.inputs--reset {
  text-align: center;
  padding: 0rem;
  background-color: var(--strong-cyan);
  text-transform: uppercase;
  margin-top: 2.1875rem;
}

.inputs--reset:hover {
  background-color: var(--light-grayish-cyan);
  cursor: pointer;
}
.inputs--reset--op {
  opacity: 0.2;
}
.inputs--reset--op:hover {
  background-color: var(--strong-cyan);
  cursor: auto;
}
